@font-face {
  font-family: "vazir";
  src: url(./font/Vazir-Black.eot);
  src: url(./font/Vazir-Black.eot) format('embedded-opentype'),
       url(./font/Vazir-Black.woff2) format('woff2'),
       url(./font/Vazir-Black.woff) format('woff'),
       url(./font/Vazir-Black.ttf) format('truetype');
  font-weight: normal;
  font-display:swap;
}

@font-face {
  font-family: "vazir";
  src: url(./font/Vazir-Bold.eot);
  src: url(./font/Vazir-Bold.eot) format('embedded-opentype'),
       url(./font/Vazir-Bold.woff2) format('woff2'),
       url(./font/Vazir-Bold.woff) format('woff'),
       url(./font/Vazir-Bold.ttf) format('truetype');
  font-weight: bold;
  font-display:swap;
}

@font-face {
  font-family: "vazir";
  src: url(./font/Vazir-Light.eot);
  src: url(./font/Vazir-Light.eot) format('embedded-opentype'),
       url(./font/Vazir-Light.woff2) format('woff2'),
       url(./font/Vazir-Light.woff2) format('woff'),
       url(./font/Vazir-Light.ttf) format('truetype');
  font-weight: 100;
  font-display:swap;
}

@font-face {
  
  font-family: "vazir";
  src: url(./font/Vazir-Medium.eot);
  src: url(./font/Vazir-Medium.eot) format('embedded-opentype'),
       url(./font/Vazir-Medium.eot) format('woff2'),
       url(./font/Vazir-Medium.woff) format('woff'),
       url(./font/Vazir-Medium.ttf) format('truetype');
  font-weight: 300;
  font-display:swap;
}

@font-face {
  font-family: "vazir";
  src: url(./font/Vazir-Thin.eot);
  src: url(./font/Vazir-Thin.eot) format('embedded-opentype'),
       url(./font/Vazir-Thin.woff2) format('woff2'),
       url(./font/Vazir-Thin.woff) format('woff'),
       url(./font/Vazir-Thin.ttf) format('truetype');
  font-weight: 500;
  font-display:swap;
}

@font-face {
  font-family: "vazir";
  src: url(./font/Vazir.eot);
  src: url(./font/Vazir.eot) format('embedded-opentype'),
       url(./font/Vazir.woff2) format('woff2'),
       url(./font/Vazir.woff) format('woff'),
       url(./font/Vazir.ttf) format('truetype');
  font-weight: 900;
  font-display:swap;
}

  body{
    background:url(./image/XY6NtC.jpg) no-repeat;
    background-size: cover;
    margin: 0rem;
    width: 100%;
  }
 
html {
  font-size: 100%;
  font-family: "Vazir";
}

.contianer {
  /* width: 1200px; */
  /* margin: 0 auto; */
  display: grid;
  align-items: center;
}



 
  
  .form label {
     font-weight: bold;
     display: block;
     margin-bottom: 1.3rem;
     color: white;
     text-align: center;
     display: flex;
     justify-content: center;
     margin-top: 2rem;
     /* margin-left: 21rem; */
     /* font-family: \; */
     }

.title{
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-bottom: 1rem;
    /* text-align: center; */
    /* margin-top: 2rem; */
    display: flex;
    justify-content: center;
}
.in1,.in2,.in3,.in4,.in5,.in6{
     /* width: 43%; */
     padding: 0.6rem .2rem .6rem 8.4rem;
     /* transform: translateY(10px); */
     /* transform: translate(-324px,33px); */
     border-radius: 5px;
     /* display: flex; */
} 
  .vorod{
    
/* display: flex; */
    
/* justify-content: center; */
    
/* flex-direction: column; */
    
display: block;
    
text-align: center;
  }
   

.f1,.f2,.f3,.f4,.f5,.f6,.f7,.f8,.f9{
  
  
  
  font-size: 1.2rem;font-weight: 600;} 
.btn{
    /* transform: translate(-459px, 154px); */
    /* width: 12%; */
    padding: .5rem;
    background-color:#4caf50;
    border-radius: 10px;
    border:solid #4caf50 .2rem;
    color: rgb(255, 255, 255);
    font-size: larger;
    margin-bottom: 2rem;
    font-family: 'vazir';
    font-weight: 200;
}

.checkbox {
    position: relative;
    padding-right: 2.1rem;
    padding-top: .4rem;
    /* transform: translate(-241px, 106px); */
    color: rgb(255, 255, 255);
    margin-top: 2rem;
  }
  
   .checkbox input {
    display: none;
  } 
  
  .checkbox .checkmark {
    height: 1.5rem;
    width: 1.5rem;
    background-color: #eee;
    position: absolute;
    right: 0;
    /* top: 0; */
    border-radius: .25rem;
  }
  
  
  .checkbox:hover .checkmark {
    background-color: #ccc;
  }
  
  .checkbox input:checked ~ .checkmark {
    background-color: #2196f3;
  }
  
  .checkmark::after {
    content: "";
    position: absolute;
    display: none;
    width: .31rem;
    height: .625rem;
    border: solid white;
    top: .31rem;
    right: .5rem;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
  
  .checkbox input:checked ~ .checkmark::after {
    display: block;
  }
  .tekrar{
    /* transform: translate(-218px, 77px); */
    font-size: 1.2rem;
    font-weight: 600;
  }
  .btv{
    
/* transform: translate(183px, 33px); */
    
font-weight: 700;
    
background-color: #2196f3;
    
border-radius: 50px;
    
border: solid #2196f3 .1rem;
    
font-size: small;
    
/* display: flex; */
    
justify-content: space-between;
    
/* display: flex; */
    
/* align-content: flex-end; */
    
/* flex-direction: column; */
    
margin-top: 1.2rem;
  }
.a1{
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  padding: .5rem;
}

 .ghavfa{
   
display: flex;
   
justify-content: center;
   
/* margin-left: 12rem; */
   
/* margin-top: 2rem; */
 }
 
  .inputfa{
    text-align: center;
  }
  .checkbox{
    display: inline;
  }
@media  screen and (max-width : 490px) {
  .title,.vorod{
    font-size: 1.3rem;
    font-weight: bold;
  }
  
}